<div class="container">
  <div class="form-group mt-5">
    <input type="text" class="form-control" placeholder="Search by name..." (keyup)="onKeydown($event)">
  </div>

  <div class="card mt-5" *ngFor="let item of viewData">
    <div class="card-header">
      <div class="card-title">
        <h5>{{ item.name }} / {{ item.age }} </h5>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <img class="img-fluid img-thumbnail" src="{{ item.picture }}" alt="">
        </div>
        <div class="col-lg-5">
          <div>{{ item.company }}</div>
          <div>{{ item.balance }}</div>
          <div>{{ item.address }}</div>
          <div>{{ item.email }}</div>
          <div>{{ item.phone }}</div>
          <div><span class="badge bg-primary">Secondary</span></div>
        </div>
        <div class="col-lg-4">
          <app-base-map></app-base-map>
        </div>
      </div>
    </div>
  </div>
</div>
